# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
package-lock.json

/static/*

/server/encryption/*
/server/config.js

/public/product/icons/*
!/public/product/icons/.gitkeep

/public/product/images/*
!/public/product/images/.gitkeep

/public/.well-known/*